<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
    <select id="getNumRecords" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="selectList" resultType="du.db.BoardDto" parameterType="map">
        <![CDATA[
        SELECT *
        FROM
        (SELECT ROWNUM AS RNUM, T1.*
           FROM (SELECT * FROM board ORDER BY num) T1
          WHERE
           ROWNUM <= #{listSize}
        )
        WHERE #{start} <= RNUM
        ]]>
    </select>

    <update id="updateHits" parameterType="int">
        UPDATE board SET hits = hits + 1 WHERE num = #{num}
    </update>

    <select id="selectOne" parameterType="int" resultType="du.db.BoardDto">
        SELECT * FROM board WHERE num = #{num}
    </select>

    <insert id="insertBoard" parameterType="du.db.BoardDto">
        INSERT INTO board (writer, title, content, regtime)
        VALUES (#{writer}, #{title}, #{content}, SYSDATE)
    </insert>

    <update id="updateBoard" parameterType="du.db.BoardDto">
        UPDATE board
        SET writer = #{writer}, title = #{title}, content = #{content}, regtime = SYSDATE
        WHERE num = #{num}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE num = #{num}
    </delete>
</mapper>
